<div class="toolbar" role="banner">
    <img
      width="40"
      alt="ShopBridge logo"
      src="./../../../assets/images/Website-Shopping-Cart.png"
    />
    <span style="font-size:18px">ShopBridge</span>
      <div class="spacer"></div>
      <div style="margin-right: 10px;">
        <a aria-label="Logout" href="#" title="Logout" (click)="logout()">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M16 17v-3H9v-4h7V7l5 5l-5 5M14 2a2 2 0 0 1 2 2v2h-2V4H5v16h9v-2h2v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9z" fill="#fff"/>
          </svg>
        </a>
      </div>
     
      
  </div>