<div class="toolbar headerfixed" role="banner">
    <img
      width="40"
      alt="ShopBridge logo"
      src="./../../../assets/images/Website-Shopping-Cart.png"
    />
    <span style="font-size:18px">ShopBridge</span>
      <div class="spacer"></div>
      <span style=" cursor: pointer">
        <mat-icon class="icons" aria-label="User" title="User">account_circle</mat-icon>
      </span>
      <span style="font-size:18px; margin: auto 15px auto 10px">{{userName | titlecase}}</span>
      <div style="margin-right: 15px; cursor: pointer">
        <span>
          <mat-icon class="icons" aria-label="Logout" title="Logout" (click)="logout()">logout</mat-icon>
        </span>
      </div>
  </div>